.copyrigth17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 100%;
  height: 100%;
  display: none;
}
.copyright-202418 {
  position: absolute;
  top: 24px;
  left: 465px;
  display: inline-block;
  width: 606px;
}
.pie-de-pagina18 {
  position: absolute;
  top: 901px;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1512px;
  height: 81px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.checkmark-icon {
  position: absolute;
  top: 246px;
  left: 222px;
  border-radius: var(--br-6xl);
  width: 1070px;
  height: 544px;
}
.encabezado-fondo4,
.logo-icon18 {
  position: absolute;
  height: 100%;
  top: 0;
}
.encabezado-fondo4 {
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 100%;
  display: none;
}
.logo-icon18 {
  bottom: 0;
  left: 569.1px;
  max-height: 100%;
  width: 398.8px;
  object-fit: cover;
}
.encabezado6 {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1512px;
  height: 162px;
}
.requisitos2 {
  white-space: pre-wrap;
}
.requisitos1 {
  margin: 0;
}
.debe-contener-al-menos-una-let,
.debe-contener-al-menos-una-let1,
.debe-tener-al-menos-8-caracter1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.debe-contener-al-menos-un-nme {
  white-space: pre-wrap;
}
.debe-tener-al-menos-8-caracter {
  margin: 0;
  font-family: var(--font-roboto);
  font-size: inherit;
  padding-left: var(--padding-10xl);
}
.requisitos-debe-tener-container2 {
  width: 100%;
}
.requisitos-debe-tener-container1 {
  position: absolute;
  top: 416px;
  left: 276px;
  display: flex;
  align-items: center;
  width: 406px;
}
.boton-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-seagreen-200);
  width: 100%;
  height: 100%;
  display: none;
}
.boton-child1,
.boton3,
.r {
  position: absolute;
  mix-blend-mode: normal;
}
.r {
  top: 6px;
  left: 3.8px;
  font-size: var(--font-size-10xl);
  display: inline-block;
  font-family: var(--font-phetsarath);
  color: var(--color-gray-100);
  text-align: center;
  width: 382.6px;
  height: 40.9px;
}
.boton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-seagreen-200);
  top: 619px;
  left: 779px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-81xl);
  width: 395px;
  height: 53px;
}
.frame-child43 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: none;
}
.contrasea-nueva {
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-10xl);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 13.1px;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  width: 499.8px;
  height: 49.4px;
  mix-blend-mode: normal;
  padding: 0;
}
.rectangle-parent26,
.recuperar-contrasea-2-child {
  position: absolute;
  top: 439px;
  left: 721px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 516px;
  height: 64px;
  mix-blend-mode: normal;
}
.recuperar-contrasea-2-child {
  border: 0;
  outline: 0;
  top: 529px;
  left: 718px;
  padding: var(--padding-xs) 13.100000000000364px 2.6000000000000014px;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-size: var(--font-size-10xl);
  color: var(--color-darkgray);
}
.ingresa-una-nueva {
  margin: 0;
  position: absolute;
  top: 288px;
  left: 462px;
  font-size: var(--font-size-21xl);
  font-weight: 400;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  width: 610px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.recuperar-contrasea-21 {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
  font-family: var(--font-phetsarath);
}
@media screen and (max-width: 767px) {
  .ingresa-una-nueva {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .copyright-202418,
  .requisitos-debe-tener-container1 {
    font-size: var(--font-size-lg);
  }
  .contrasea-nueva,
  .r {
    font-size: var(--font-size-4xl);
  }
  .ingresa-una-nueva {
    font-size: var(--font-size-5xl);
  }
}
