<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Recuperar2.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mixed:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="recuperar-contrasea-2">
      <footer class="pie-de-pagina">
        <div class="copyrigth"></div>
        <div class="copyright-2024">
          © Copyright 2024 | Todos los derechos reservados
        </div>
      </footer>
      <img class="checkmark-icon" alt="" src="{% static './public/checkmark-icon.svg'%}" />

      <div class="encabezado">
        <div class="encabezado-fondo"></div>
        <img class="logo-icon" alt="" src="{% static './public/logo3@2x.png'%}" />
      </div>
      <div class="requisitos-debe-tener-container">
        <span class="requisitos-debe-tener-container1">
          <p class="requisitos">
            <b class="requisitos1"> Requisitos</b>
          </p>
          <ul class="debe-tener-al-menos-8-caracter">
            <li class="debe-tener-al-menos-8-caracter1">
              <span>Debe tener al menos 8 caracteres.</span>
            </li>
            <li class="debe-contener-al-menos-una-let">
              <span>Debe contener al menos una letra minúscula.</span>
            </li>
            <li class="debe-contener-al-menos-una-let1">
              <span>Debe contener al menos una letra mayúscula.</span>
            </li>
            <li class="debe-contener-al-menos-un-nme">
              <span>Debe contener al menos un número.</span>
            </li>
          </ul>
        </span>
      </div>
      <button class="boton">
        <div class="boton-child"></div>
        <b class="r">Recuperar contraseña</b>
      </button>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <input
          class="contrasea-nueva"
          placeholder="Contraseña nueva"
          type="text"
        />
      </div>
      <input
        class="recuperar-contrasea-2-child"
        placeholder="Confirmar contraseña nueva"
        type="text"
      />

      <h3 class="ingresa-una-nueva">Ingresa una nueva contraseña</h3>
    </div>
  </body>
</html>
