.encabezado-fondo,
.logo-icon {
  position: relative;
  max-width: 100%;
}
.encabezado-fondo {
  align-self: stretch;
  width: 1525px;
  background-color: var(--color-seagreen-100);
  display: none;
}
.logo-icon {
  width: 402.2px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.encabezado {
  margin-top: -212px;
  align-self: stretch;
  background-color: var(--color-seagreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-26xl);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 101%;
}
.go-back-icon {
  height: 44px;
  width: 46.4px;
  position: relative;
  object-fit: cover;
}
.volver-atrs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-roboto);
  color: var(--color-seagreen-200);
  text-align: center;
  display: inline-block;
}
.back-label {
  width: 174.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 14.9px 0 0;
  box-sizing: border-box;
  margin-left: -0.4px;
}
.preguntas-frecuentes {
  align-self: stretch;
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.f-a-q-label,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.f-a-q-label {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-19xl) 0 0;
  box-sizing: border-box;
  min-width: 599px;
  margin-left: -0.4px;
}
.navigation {
  width: 1141px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.lorem-ipsum-dolor {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line {
  margin: 0;
}
.aliquam-vel-diam {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line1 {
  margin: 0;
}
.vestibulum-non-lorem {
  margin: 0;
  white-space: pre-wrap;
}
.lorem-ipsum-dolor-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-6xl);
  text-align: justify;
}
.content,
.content-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-navigation {
  flex: 1;
  flex-direction: column;
  gap: 81px;
}
.content {
  width: 1467px;
  flex-direction: row;
  padding: 0 var(--padding-56xl) 128px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
.copyright-2024,
.copyrigth {
  position: relative;
  max-width: 100%;
}
.copyrigth {
  height: 81px;
  width: 1525px;
  background-color: var(--color-seagreen-100);
  display: none;
}
.copyright-2024 {
  width: 606px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.pie-de-pagina,
.terminos-y-condiciones {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.pie-de-pagina {
  align-self: stretch;
  background-color: var(--color-seagreen-100);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-6xl)
    var(--padding-12xl);
  flex-shrink: 0;
  max-width: 101%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.terminos-y-condiciones {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-189xl) 0 0;
  gap: var(--gap-31xl);
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1200px) {
  .content {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .preguntas-frecuentes {
    font-size: var(--font-size-5xl);
  }
  .f-a-q-label {
    min-width: 100%;
  }
  .terminos-y-condiciones {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .encabezado {
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }
  .content-navigation {
    gap: var(--gap-21xl);
  }
  .content {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .volver-atrs {
    font-size: var(--font-size-xl);
  }
  .preguntas-frecuentes {
    font-size: var(--font-size-lg);
  }
  .lorem-ipsum-dolor-container {
    font-size: var(--font-size-xl);
  }
  .content-navigation {
    gap: var(--gap-xl);
  }
  .copyright-2024 {
    font-size: var(--font-size-lg);
  }
  .terminos-y-condiciones {
    gap: var(--gap-6xl);
  }
}
