{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Termino.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Phetsarath:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mixed:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="terminos-y-condiciones">
      <section class="content">
        <header class="encabezado">
          <div class="encabezado-fondo"></div>
          <img class="logo-icon" alt="" src="{% static 'public/logo41@2x.png' %}" />
        </header>
        <div class="body">
          <div class="intro">
            <div class="terminos-condiciones-y-polti-wrapper">
              <h3 class="terminos-condiciones-y">
                Terminos, condiciones y políticas de privacidad
              </h3>
            </div>
            <section class="bienvenido-a-nuestro-container">
              <p class="bienvenido-a-nuestro">
                Bienvenido a nuestro servicio. Al acceder a nuestro sitio web y
                utilizar nuestros servicios, usted acepta estar sujeto a los
                siguientes términos y condiciones. Por favor, lea detenidamente
                toda la información proporcionada antes de utilizar nuestro
                servicio
              </p>
              <p class="blank-line">&nbsp;</p>
              <ol class="aceptacin-de-los-trminos-al">
                <li class="aceptacin-de-los">
                  Aceptación de los Términos Al acceder y utilizar nuestro
                  servicio, usted acepta estar legalmente obligado por estos
                  términos y condiciones. Si no está de acuerdo con alguno de
                  estos términos, no utilice nuestro servicio.
                </li>
                <li class="uso-apropiado-usted">
                  Uso Apropiado Usted acepta utilizar nuestro servicio
                  únicamente con fines legales y de acuerdo con estos términos y
                  condiciones. No debe utilizar nuestro servicio de ninguna
                  manera que pueda causar daño, perjuicio o interrupción del
                  servicio.
                </li>
                <li class="propiedad-intelectual-todos">
                  Propiedad Intelectual Todos los derechos de propiedad
                  intelectual relacionados con nuestro servicio son propiedad
                  nuestra o de nuestros licenciantes. Usted no tiene derecho a
                  copiar, distribuir, modificar, vender o alquilar ninguna parte
                  de nuestro servicio sin nuestro consentimiento previo por
                  escrito.
                </li>
                <li class="privacidad-nuestra-poltica">
                  Privacidad Nuestra política de privacidad describe cómo
                  recopilamos, almacenamos y utilizamos su información personal.
                  Al utilizar nuestro servicio, usted acepta estar sujeto a
                  nuestra política de privacidad.
                </li>
                <li>
                  Limitación de Responsabilidad En la medida máxima permitida
                  por la ley, no seremos responsables de ningún daño directo,
                  indirecto, incidental, especial, consecuente o punitivo que
                  surja del uso de nuestro servicio.
                </li>
              </ol>
            </section>
          </div>
        </div>
      </section>
      <footer class="pie-de-pagina">
        <div class="copyrigth"></div>
        <div class="copyright-2024">
          © Copyright 2024 | Todos los derechos reservados
        </div>
      </footer>
    </div>
  </body>
</html>
