{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Panel.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mixed:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="panel-inicial">
      <img
        class="encabezado-fondo-icon"
        alt=""
        src="{% static 'public/encabezado-fondo1.svg' %}"
      />

      <section class="main-container">
        <div class="navigation-area">
          <div class="greeting-area-parent">
            <div class="greeting-area">
              <div class="user-image-area">
                <div class="user-name-area">
                  <img
                    class="icon-person"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/-icon-person1.svg' %}"
                  />

                  <div class="hola-vanessa-wrapper">
                    <b class="hola-vanessa">¡Hola, Vanessa!</b>
                  </div>
                </div>
                <button class="botn-emergencias">
                  <div class="botn-emergencias-child"></div>
                  <b class="emergencias">EMERGENCIAS</b>
                </button>
              </div>
            </div>
            <div class="service-selection-area">
              <div class="logo-area">
                <img
                  class="logo-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/logo4@2x.png' %}"
                />
              </div>
              <input
                class="selecciona-el-servicio"
                placeholder="Selecciona el servicio a tramitar"
                type="text"
              />
            </div>
          </div>
          <div class="user-options-area">
            <div class="logout-icon-area-parent">
              <div class="logout-icon-area">
                <img
                  class="logo-cerrar-sesion"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/logo-cerrar-sesion@2x.png' %}"
                />
              </div>
              <button class="cerrar-sesin">Cerrar sesión</button>
            </div>
          </div>
        </div>
        <div class="selection-indicator-area">
          <div class="linea-abajo-seleccion"></div>
        </div>
      </section>
      <section class="navigation-options-area-wrapper">
        <div class="navigation-options-area">
          <button class="informacion-personal">
            <img
              class="informacion-personal-child"
              alt=""
              src="{% static 'public/rectangle-511.svg' %}"
            />

            <b class="informacin-personal-y-container">
              <p class="informacin">Información</p>
              <p class="personal-y-de">personal y de mascotas</p>
            </b>
          </button>
          <button class="procedimientos">
            <img
              class="procedimientos-child"
              alt=""
              src="{% static 'public/rectangle-511.svg' %}"
            />

            <b class="procedimientos-y-citas">Procedimientos y citas médicas</b>
          </button>
          <button class="vacunacion">
            <img
              class="vacunacion-child"
              alt=""
              src="{% static 'public/rectangle-52.svg' %}"
            />

            <b class="vacunacin">Vacunación</b>
          </button>
          <button class="guarderia">
            <img
              class="guarderia-child"
              alt=""
              src="{% static 'public/rectangle-511.svg' %}"
            />

            <b class="guardera">Guardería</b>
          </button>
          <button class="servicios">
            <img
              class="servicios-child"
              alt=""
              src="{% static 'public/rectangle-511.svg' %}"
            />

            <b class="todos-nuestros-servicios">Todos nuestros servicios</b>
          </button>
          <button class="preguntas-frecuentes">
            <img
              class="preguntas-frecuentes-child"
              alt=""
              src="{% static 'public/rectangle-511.svg' %}"
            />

            <b class="preguntas-frecuentes1">
              <p class="preguntas-frecuentes2">Preguntas frecuentes</p>
            </b>
          </button>
        </div>
      </section>
      <footer class="pie-de-pagina">
        <div class="copyrigth"></div>
        <div class="copyright-2024">
          © Copyright 2024 | Todos los derechos reservados
        </div>
      </footer>
    </div>
  </body>
</html>
