.encabezado-fondo-icon {
  width: 100%;
  height: 162px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-person {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 64.1px;
  z-index: 1;
}
.hola-vanessa {
  position: absolute;
  top: 16px;
  left: 64.1px;
  line-height: 33px;
  display: inline-block;
  width: 262.5px;
  height: 33px;
  z-index: 1;
}
.icon-person-parent {
  align-self: stretch;
  height: 58px;
  position: relative;
}
.left-top-inner {
  height: 102px;
  width: 326.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-icon {
  width: 398.8px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.logo-wrapper {
  width: 527.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.logo-cerrar-sesion {
  height: 73px;
  width: 71.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-cerrar-sesion-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-48xl-2) 0 var(--padding-48xl);
}
.cerrar-sesin {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 70px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--color-whitesmoke-100);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent {
  width: 221.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.left-top,
.top-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.left-top {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.top-content {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xs-1);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.go-back-icon,
.volver-atrs {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.go-back-icon {
  height: 46px;
  width: 50px;
  object-fit: cover;
  z-index: 1;
}
.volver-atrs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  font-size: var(--font-size-6xl);
  font-family: var(--font-roboto);
  color: var(--color-seagreen-200);
  text-align: center;
  display: inline-block;
}
.go-back-parent,
.volver-atrs-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.volver-atrs-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -10px;
}
.go-back-parent {
  align-self: stretch;
  flex-direction: row;
}
.frame-child {
  position: absolute;
  height: calc(100% - 13px);
  top: 6px;
  bottom: 7px;
  left: 0;
  border-radius: var(--br-xl);
  max-height: 100%;
  width: 177px;
}
.agendar-cita {
  position: absolute;
  height: 100%;
  top: 0;
  left: 20px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 178px;
  z-index: 1;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 198px;
  height: 70px;
  position: relative;
}
.option-buttons {
  width: 212px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-39xl);
}
.consultar-o-cancelar {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xl);
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
}
.consultar-o-cancelar-cita-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
}
.primary-options,
.primary-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-options {
  align-self: stretch;
  gap: var(--gap-10xl);
}
.primary-options-wrapper {
  width: 250px;
  padding: var(--padding-5xs) var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.seleccione-el-servicio {
  height: 703px;
  width: 1px;
  position: relative;
  object-fit: contain;
}
.procedimientos-y-citas {
  width: 486px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.go-back-icon1,
.volver-atrs1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.go-back-icon1 {
  height: 46px;
  width: 50px;
  object-fit: cover;
  z-index: 1;
}
.volver-atrs1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  font-size: var(--font-size-6xl);
  font-family: var(--font-roboto);
  color: var(--color-seagreen-200);
  text-align: center;
  display: inline-block;
}
.confirmed-appointment,
.volver-atrs-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.volver-atrs-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -10px;
}
.confirmed-appointment {
  width: 212px;
  flex-direction: row;
}
.appointment-description-child {
  width: 805px;
  height: 517px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.cita-agendada {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.cita-agendada-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-56xl);
  box-sizing: border-box;
  max-width: 100%;
}
.molly {
  font-family: var(--font-roboto);
}
.mascota-molly {
  margin: 0;
}
.procedimiento {
  font-family: var(--font-roboto);
}
.procedimiento-esterilizacin {
  margin: 0;
}
.dra {
  font-family: var(--font-roboto);
}
.dra-mara-aristizabal {
  margin: 0;
}
.fecha {
  font-family: var(--font-roboto);
}
.fecha-jueves-08-de-abril-de-2 {
  margin: 0;
}
.hora {
  font-family: var(--font-roboto);
}
.hora-1140-am {
  margin: 0;
}
.sede {
  font-family: var(--font-roboto);
}
.blank-line,
.sede-vetpet-la-pradera-dosq {
  margin: 0;
}
.minutos-de-anticipacin {
  font-family: var(--font-roboto);
}
.blank-line1,
.para-tu-comodidad-y-la-de-todo {
  margin: 0;
}
.horas-de-anticipacin {
  font-family: var(--font-roboto);
}
.blank-line2,
.de-esta-manera-podemos-optimi,
.en-caso-de-que-no-puedas-asist {
  margin: 0;
}
.blank-line3 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.mascota-molly-procedimiento-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
  font-size: var(--font-size-lg);
}
.appointment-description {
  width: 805px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-40xl) 99px;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.appointment-info,
.appointment-summary,
.confirmation-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.appointment-summary,
.confirmation-content {
  flex-direction: column;
  justify-content: flex-start;
}
.appointment-summary {
  gap: var(--gap-4xl);
  text-align: center;
  font-size: var(--font-size-xl);
}
.confirmation-content {
  gap: var(--gap-10xl);
}
.confirmation-content-wrapper,
.frame-group,
.top-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.confirmation-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  max-width: calc(100% - 297px);
}
.frame-group,
.top-content-parent {
  max-width: 100%;
}
.frame-group {
  width: 1299px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-roboto);
}
.top-content-parent {
  width: 1491px;
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-12xs);
}
.copyright-2024,
.copyrigth {
  position: relative;
  max-width: 100%;
}
.copyrigth {
  height: 81px;
  width: 1512px;
  background-color: var(--color-seagreen-100);
  display: none;
}
.copyright-2024 {
  width: 538px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.pie-de-pagina {
  align-self: stretch;
  background-color: var(--color-seagreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-6xl)
    var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
.citas-medicas-agendar-cita- {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid);
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1150px) {
  .left-top {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .hola-vanessa {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .seleccione-el-servicio {
    display: none;
  }
  .appointment-description {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .confirmation-content-wrapper {
    max-width: calc(100% - 273px);
  }
}
@media screen and (max-width: 750px) {
  .cita-agendada-wrapper {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .appointment-description {
    padding-top: var(--padding-xl);
    padding-bottom: 64px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hola-vanessa {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .cerrar-sesin,
  .volver-atrs {
    font-size: var(--font-size-xl);
  }
  .agendar-cita,
  .consultar-o-cancelar {
    font-size: var(--font-size-lg);
  }
  .procedimientos-y-citas,
  .volver-atrs1 {
    font-size: var(--font-size-xl);
  }
  .cita-agendada {
    font-size: var(--font-size-base);
  }
  .appointment-description {
    gap: var(--gap-base);
  }
  .copyright-2024 {
    font-size: var(--font-size-lg);
  }
}
