.encabezado-fondo-icon {
  width: 100%;
  height: 162px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.hola-vanessa,
.icon-person {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.icon-person {
  height: 58px;
  width: 64.1px;
}
.hola-vanessa {
  align-self: stretch;
  line-height: 33px;
}
.hola-vanessa-wrapper,
.user-name-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hola-vanessa-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
}
.user-name-area {
  align-self: stretch;
  flex-direction: row;
}
.botn-emergencias-child {
  height: 57px;
  width: 222px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-firebrick);
  display: none;
}
.emergencias {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 29.7px;
  font-family: var(--font-abeezee);
  color: var(--color-gray-100);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.botn-emergencias {
  cursor: pointer;
  border: 0;
  padding: 13.1px 15.3px 14.2px 16.4px;
  background-color: var(--color-firebrick);
  width: 222px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.botn-emergencias:hover {
  background-color: #e85454;
}
.greeting-area,
.user-image-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-image-area {
  align-self: stretch;
  justify-content: flex-start;
  gap: 67px;
}
.greeting-area {
  width: 326.7px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  min-width: 326.7px;
  max-width: 100%;
}
.logo-icon {
  width: 398.8px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.logo-area {
  width: 735px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.selecciona-el-servicio {
  border: 0;
  outline: 0;
  font-family: var(--font-abeezee);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  align-self: stretch;
  height: 36px;
  position: relative;
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
  min-width: 250px;
  padding: 0;
}
.greeting-area-parent,
.service-selection-area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.service-selection-area {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-61xl);
  min-width: 496px;
  margin-left: -1.7px;
}
.greeting-area-parent {
  width: 1088px;
  flex-direction: row;
  row-gap: 20px;
}
.logo-cerrar-sesion {
  height: 73px;
  width: 71.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logout-icon-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-48xl-2) 0 var(--padding-48xl);
}
.cerrar-sesin {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 70px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: var(--font-abeezee);
  color: var(--color-whitesmoke-100);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.logout-icon-area-parent,
.user-options-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logout-icon-area-parent {
  align-self: stretch;
  align-items: flex-end;
}
.user-options-area {
  width: 221.4px;
  align-items: flex-start;
  padding: 37px 0 0;
  box-sizing: border-box;
}
.navigation-area {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.linea-abajo-seleccion {
  align-self: stretch;
  width: 573px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.main-container,
.selection-indicator-area {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.selection-indicator-area {
  width: 1416px;
  height: 1px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.main-container {
  width: 1484px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  font-family: var(--font-abeezee);
}
.informacion-personal-child {
  height: 184px;
  width: 374px;
  position: relative;
  border-radius: var(--br-mini);
  display: none;
  max-width: 100%;
}
.informacin,
.personal-y-de {
  margin: 0;
}
.informacin-personal-y-container {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 30px;
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-400);
  text-align: center;
  min-height: 70px;
  z-index: 1;
}
.informacion-personal,
.procedimientos-child {
  height: 184px;
  width: 374px;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.informacion-personal {
  cursor: pointer;
  border: 0;
  padding: var(--padding-33xl) var(--padding-9xl) var(--padding-33xl)
    var(--padding-10xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.guarderia:hover,
.informacion-personal:hover,
.preguntas-frecuentes:hover,
.procedimientos:hover,
.servicios:hover,
.vacunacion:hover {
  background-color: var(--color-seagreen-300);
}
.procedimientos-child {
  position: relative;
  display: none;
}
.procedimientos-y-citas {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-200);
  text-align: center;
  z-index: 1;
}
.procedimientos,
.vacunacion-child {
  width: 374px;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.procedimientos {
  cursor: pointer;
  border: 0;
  padding: var(--padding-38xl) var(--padding-57xl) var(--padding-38xl)
    var(--padding-58xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.vacunacion-child {
  height: 184px;
  position: relative;
  display: none;
}
.vacunacin {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-400);
  text-align: center;
  z-index: 1;
}
.guarderia-child,
.vacunacion {
  width: 374px;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.vacunacion {
  cursor: pointer;
  border: 0;
  padding: var(--padding-47xl) 74px var(--padding-29xl) 79px;
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.guarderia-child {
  height: 184px;
  position: relative;
  display: none;
}
.guardera {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-400);
  text-align: center;
  z-index: 1;
}
.guarderia,
.servicios-child {
  width: 374px;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.guarderia {
  cursor: pointer;
  border: 0;
  padding: 69px var(--padding-57xl) var(--padding-26xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.servicios-child {
  height: 184px;
  position: relative;
  display: none;
}
.todos-nuestros-servicios {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-200);
  text-align: center;
  z-index: 1;
}
.preguntas-frecuentes-child,
.servicios {
  height: 184px;
  width: 374px;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.servicios {
  cursor: pointer;
  border: 0;
  padding: var(--padding-38xl) var(--padding-57xl) var(--padding-38xl)
    var(--padding-58xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.preguntas-frecuentes-child {
  position: relative;
  display: none;
}
.preguntas-frecuentes2 {
  margin: 0;
}
.preguntas-frecuentes1 {
  height: 70px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abeezee);
  color: var(--color-gray-400);
  text-align: center;
  z-index: 1;
}
.preguntas-frecuentes {
  cursor: pointer;
  border: 0;
  padding: var(--padding-38xl) var(--padding-57xl) var(--padding-38xl)
    var(--padding-58xl);
  background-color: var(--color-mediumseagreen);
  width: 374px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.navigation-options-area,
.navigation-options-area-wrapper,
.preguntas-frecuentes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navigation-options-area {
  width: 1164px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 28px 19px;
  min-height: 396px;
}
.navigation-options-area-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) var(--padding-7xl) var(--padding-xl);
  box-sizing: border-box;
}
.copyright-2024,
.copyrigth {
  position: relative;
  max-width: 100%;
}
.copyrigth {
  height: 81px;
  width: 1512px;
  background-color: var(--color-seagreen-100);
  display: none;
}
.copyright-2024 {
  width: 538px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.pie-de-pagina {
  align-self: stretch;
  background-color: var(--color-seagreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-6xl)
    var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-abeezee);
}
.panel-inicial {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-75xl);
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1350px) {
  .navigation-area {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .greeting-area {
    flex: 1;
  }
  .greeting-area-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .service-selection-area {
    gap: 40px;
    margin-left: 0;
    min-width: 100%;
  }
  .panel-inicial {
    gap: var(--gap-28xl);
  }
}
@media screen and (max-width: 450px) {
  .emergencias {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .user-image-area {
    gap: var(--gap-14xl);
  }
  .selecciona-el-servicio {
    font-size: var(--font-size-xl);
  }
  .service-selection-area {
    gap: var(--gap-xl);
  }
  .cerrar-sesin,
  .informacin-personal-y-container,
  .procedimientos-y-citas {
    font-size: var(--font-size-xl);
  }
  .procedimientos {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .vacunacin {
    font-size: var(--font-size-xl);
  }
  .vacunacion {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .guardera {
    font-size: var(--font-size-xl);
  }
  .guarderia {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .todos-nuestros-servicios {
    font-size: var(--font-size-xl);
  }
  .servicios {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .preguntas-frecuentes1 {
    font-size: var(--font-size-xl);
  }
  .preguntas-frecuentes {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .copyright-2024 {
    font-size: var(--font-size-lg);
  }
  .panel-inicial {
    gap: var(--gap-4xl);
  }
}
